brotlipy=0.7.0
cartopy=0.20.2
certifi=2021.10.8
cffi=1.15.0
click=8.1.3
cryptography=36.0.2
fiona=1.8.21
fonttools=4.33.3
gdal=3.4.2
importlib-metadata=4.11.3
kiwisolver=1.4.2
matplotlib=3.5.2
numpy=1.22.3
pandas=1.4.2
pillow=9.1.0
pyproj=3.3.1
pysocks=1.7.1
rasterio=1.2.10
rtree=1.0.0
scikit-learn=1.0.2
scipy=1.8.0
setuptools=62.1.0
shapely=1.8.0
unicodedata2=14.0.0